<div class="container">
	<br/><br/><br/>
	<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>Administration</b></div>
   <div class="panel-body">
   	<h4>Scraping Updates</h4>
   	Endpoint: {{scrape.url}}<br/>
   	Current Time: {{scrape.currenttime}}<br/>
	Last Updated: {{scrape.lastupdated}}<br/>
	Next Run: {{scrape.nextupdate}}<br/>
	<button class="btn btn-warning" ng-click="onUpdateManually()"><span class="glyphicon glyphicon-cloud-download"></span> Update Manually</button>
	<hr/>
	<h4>Error Log</h4>
	Log Location:{{url}}<br/>
	<button class="btn btn-warning">
		<span class="glyphicon glyphicon-cloud-download"></span> Purge</button>
	
  </div>
  </div>
 </div>

</div>